@import 'tailwindcss' important;
body {
  font-family: Microsoft YaHei, Helvetica Neue, Helvetica, PingFang SC,
    Hiragino Sans GB, Arial, sans-serif;
  font-size: 12px;
  line-height: 1;
  color: #333;
  background: #fff;
  position: relative;
  /*字体抗锯齿渲染*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  /* text-rendering: geometricPrecision; */
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
